
.container
    width: auto;
    background-color: #eee;
    border: 1px solid;
    cursor: pointer;
    padding: 0;
       
    
.link
    padding: 10px 
    &:hover
        background-color:#abc
        
    
ul
    margin:0px
    padding:0px
    list-style-type: none
