// @import '../../../../assets/css/config'

.fixed-header-template    
    .header
        &-title
            display flex
            align-items center
            padding 2.5em 2em
            background: $primary
            color $white
            h1
                margin 0
                font-weight 500
                background $primary
            @media screen and (max-width 1280px)
                padding 2em 1em
        &-body
            padding 2em 0 0 0
            margin 0 0 0 32px
            max-width 900px
            @media screen and (max-width 1280px)
                padding 1.5em 1em
                margin 0
        &-question
            text-align left
            padding 1em 1em 1em 0
            font-weight 600
            font-size 1.2em
            color $alt-dark-color
            max-width 750px
            &.no-pb
                padding-bottom .5em
                max-width 750px
                font-weight 600
        &-content
            font-weight normal
            display block
            max-width 750px
        &-data
            padding 0 0 1em 0

::ng-deep
    .baseline
        vertical-align baseline