// @import '../../../../assets/css/config'
.table-container
    padding 1em
    margin-top 1.5em
    max-width 750px  
    border-top solid 1px $gray10 
.flex-container
    display flex
    width 100%
    .header-data
        flex 1
        justify-content center
        padding 10px
        display flex
        align-items center
        text-align center
        color $primary
        font-size 1.5em
        font-weight 600
        line-height 1.2em
    .row-data
        flex 1
        justify-content center
        padding 10px
        display flex
        align-items center
        font-size 1.25em

.data-table
    border none
    .header-data
        background $white
        color $primary
        text-align center
        line-height 1.2em
    .row-data
        text-align center
