<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Editor</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div (froalaInit)="initialize($event)" [froalaEditor]="options" [(froalaModel)]="content"></div>
      </div>
      <div class="modal-footer">
        <button (click)="onSave()" class="btn btn-success">
          Save
        </button>
        
        <button (click)="onCancel()" class="btn btn-danger">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

