<div class="admin-wrapper">
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" [routerLink]="'/upload'">
      <span class="fa fa-chevron-left"></span> Back
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3 flex-row">
      <li class="nav-item text-nowrap mx-3" *ngIf="activeIndex != -1">
        <div class="btn-group" dropdown container="body">
          <button id="button-container" dropdownToggle type="button" class="btn btn-info dropdown-toggle"
                  aria-controls="dropdown-container">
            {{viewType}} <span class="caret"></span>
          </button>
          <div id="dropdown-container dropdown-menu-right" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-container">
            <button class="dropdown-item" (click)="toggleView(1)">Component</button>
            <button class="dropdown-item" (click)="toggleView(2)">Custom</button>
            <button class="dropdown-item" (click)="toggleView(3)">Raw</button>
          </div>
        </div>
      </li>
      <li class="nav-item text-nowrap mx-3">
        <a class="nav-link" (click)="downloadJson()">Download Content</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Scenes</span>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item" *ngFor="let scene of localJSON; let i=index">
              <a class="nav-link" (click)="setActiveIndex(i)" [class.active]="activeIndex == i">
                {{scene?.ID}}
              </a>
              
              <span dropdown container="body">
                <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
                  <li>
                    <a class="dropdown-item" (click)="newScene.copyId=scene?.ID;newScene.addNewSceneSetup()">Copy</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="deleteScene(i)">Delete</a>
                  </li>
                </ul>
              </span>
            </li>
            <li class="nav-item">
              <app-new-scene [data]="localJSON || {}" #newScene></app-new-scene>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 p-md-4">
        <div class="editor d-flex flex-column h-100" *ngIf="activeIndex != -1 && viewType == 'Raw'">
          <div class="h-75 d-flex flex-column p-3">
            <div class="flex-grow-1">
              <textarea style="background-color:#999;color:white;width:100%;height:100%" [(ngModel)]='editableJsonString'></textarea>
            </div>
            <div class="alert alert-danger" *ngIf="invalidJson">
              INVALID JSON. Please use Jsonlint.com to verify the Json.
            </div>
          </div>
      
          <button class="btn btn-sm btn-success mr-2" (click)="saveRawData()">
            <span class="fa fa-check">Save</span>
          </button>
        </div>
        <div class="preview" *ngIf="activeIndex != -1 && viewType == 'Component'">
          <app-context-menu></app-context-menu>
          <pin [sceneData]="editableJson"></pin>
        </div>

        <div class="preview" *ngIf="activeIndex != -1 && viewType == 'Custom'">
          <app-context-menu></app-context-menu>
          <app-custom-pin [data]="editableJson"></app-custom-pin>
          <app-notes [notes]="editableJson['notes']"></app-notes>
        </div>
      </main>
    </div>
  </div>
</div>
