
// @import '../../../../assets/css/config'

.column-multi-drag
    .multi-drag
        &-container
            padding 1em
        &-tab
            display flex
            margin-bottom 32px
            @media only screen and (max-width 1280px)
                display block
            &-header
                font-weight 700
                width 100%
                display flex
                align-items flex-start
                justify-content center
                font-size 1.2em
                text-align center
                color $primary
                margin-bottom 1em
                min-height 3em
                @media only screen and (max-width 1280px)
                    min-height initial
        &-col
            flex 1
            padding 4px 32px 4px 0
            @media only screen and (max-width 1280px)
                width 100%
            &:last-child
                padding-right 0
            &:nth-child(2)
                .multi-drag-tab-header
                    color $accent01
            &:nth-child(3)
                .multi-drag-tab-header
                    color $accent03
